@tailwind base;
@tailwind components;
@tailwind utilities;

.footerBody {
  background: white;
  margin-bottom: 7rem;
}

.bg-transparent-gray {
  background: rgba(75, 75, 75, 0.7);
}

.fontw {
  font-weight: 600;
}

.position {
  top: -20px;
  left: -25px;
}

.box-shadow {
  box-shadow: 0 2px 3px 2px rgba(1, 1, 1, 0.16);
}

.search-border {
  border: 1px solid #4b4b4b;
  background-image: url("/search.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 9px ;

}

.font-size {
  font-size: .8rem;
}

.height {
  height: 20rem;
}